@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}
:root{
    --primary-design-color: #84d0a0;
    --seconadry-design-color: #6154a3;
    --third-design-color: #473080;
    --text-haeding-color: #413960;
    --general-text-color: #a39db2;
    --light-shadow-color:#e1e0e6;
    --dark-shadow-color: #dad6e4;
}
.header{
    width: 100%;
    height: 5rem;
    display: flex;
    padding: 0 60px;
    justify-content: space-between;
    align-items: center;
    /* background: #ffd7d7; */
}
.navbar{
    display: flex;
    /* gap: 30px; */
    font-weight: 500;
}
.list{
    color: var(--general-text-color);
    font-size: 18px;
    padding: 10px 30px;
    transition: .4s;
}
.list:hover{
    background: var(--primary-design-color);
    color: white;
    border-radius: 3px;
}
.l-color{
    color: #413960;
    
}
.active{
    background: var(--third-design-color);
    border-radius: 3px;
    color: white;
    transition: .3s;
}
.active:hover{
    background: var(--seconadry-design-color);
    color: white;
}
.w-name span{
    font-family: 'Monoton', cursive;
    font-weight: 400;
    font-size: 50px;
}
.head img{
    height: 500px;
    width: 700px;
    margin-top: 100px;
    margin-left: 400px;
}
.box p{
    font-weight: bold;
    margin-left: 180px;
    margin-right: 180px;

}
.box h1{
    color: red;
    text-align: center;
    /* margin-left: 180px;
    margin-right: 180px; */
}
.box h4{
    text-align: center;
    font-weight: bold;
}
.container{
    margin-top: 150px;
    text-align: center;
}
.box4{
    display: flex;
}
.box1 img{
    height: 200px;
    width: 200px;
    margin-left: 200px;
    margin-top: 40px;
   
}
.box2 img{
    height: 200px;
    width: 200px;
    margin-left: 200px;
    margin-top: 40px;

}
.box3 img{
    height: 200px;
    width: 200px;
    margin-left: 200px;
    margin-top: 40px; 
}
.box1 p{
    margin-left: 280px;
}
.box2 p{
    margin-left: 280px;
}
.box3 p{
    margin-left: 280px;
}
footer{
    width: 100%;
    height: 60vh;
    background: var(--seconadry-design-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 60px;
    gap: 2rem;
}
.f-p1, .f-p2, .f-p3{
    width: 15vw;
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    /* text-align: center; */
    /* background: #000; */
}
.f-head{
    color: white;
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 0.6rem;
    /* text-align: center; */
}
.f-link{
    color: rgb(199, 199, 199);
    transition: .3s;
}
.f-link:hover{
    color: white;
}
.email{
    width: 18rem;
    height: 2rem;
    border: none;
    border-radius: 5px;
    padding: 0 10px;
}
.email:focus{
    outline: none;
    border: 1px solid black;
}
.subs-btn{
    width: 10rem;
    height: 2rem;
    border: none;
    background: var(--primary-design-color);
    border-radius: 5px;
    margin-left: 10px;
    transition: .3s;
    color: white;
    cursor: pointer;
}
.subs-btn:hover{
    background: #413960;
}
.social{
    margin-top: 2rem;
    display: flex;
    gap: 1rem;
}
.care{
    width: 2.5rem;
    height: 2.5rem;
    background: #00000024;
    border: 1px solid rgba(0, 0, 0, 0.473);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .3s;
}
.bi{
    color: rgb(199, 199, 199);
    font-size: 1.3rem;
}
.care:hover{
    background: #00000089;
}
.care:hover > .bi{
    color: white;

}